@font-face {
    font-family: 'OpenSans';
    src: url(../../src/assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'Sans_B';
    src: url(../../assets/fonts/OpenSans-Semibold.ttf);
}